@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Variable */
:root{
    /* Colors */
    --BGCOLOR : teal;
    --BGCOLOR2 : aliceblue;
    --TEXTCOLOR : whitesmoke;
    --BG-GRADIENT1 : radial-gradient(white,lightskyblue);
    --BG-GRADIENT2 : linear-gradient(white,lightskyblue);
    --BG-GRADIENT3 : conic-gradient(white,lightskyblue);
    --DARKCOLOR : #424446;
    --DARKCOLOR2 : #000;

    /* Font */
    --FF : "Nunito", sans-serif;
    --FS : clamp(1.75rem, 3vh,2.5rem);
    --FS2 : 1.8rem;
    /* Units */
    --PADDING : 0.5rem;

    --SHADOW : 0 6px 5px -5px var(--DARKCOLOR2);

    /* Squares */
    --SQUARE-BG : lightblue;
    --SQUARE-SIZE : max(150px,20vw);
}

@media (prefers-color-scheme: light){
    :root{
        --BGCOLOR : #333;
        --BGCOLOR2 : whitesmoke;
        --TEXTCOLOR : #fff;
        --DARKCOLOR : white;
        --DARKCOLOR2 : aliceblue;
        --SQUARE-BG : ;
        --BG-GRADIENT1 : radial-gradient(#333,lightskyblue);
    }
}

body{
    font-size: var(--FS);
    font-family: var(--FF);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: var(--BG-GRADIENT1);
}

header, footer, main, nav{
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    place-content: center;
    gap: 1rem;
}

header, footer{
    color: var(--BGCOLOR2);
    background-color: var(--BGCOLOR);
    font-size: var(--FS2);
}

nav{
    background-color: var(--BGCOLOR2);
    border-bottom: 1px solid var(--DARKCOLOR);
    padding: var(--PADDING);
    box-shadow: var(--SHADOW);
}


main{
    flex-grow: 1;
    display: flex;
    padding: var(--PADDING);
    /* flex-direction: column;
    justify-content: space-evenly;
    flex-flow: row wrap; */
    gap: min(4vw,15px);
}
 
main section{
    flex-grow: 1;
    padding: var(--PADDING);
}

main aside{
    background-color: hsla(0, 0%, 20%, 0.600);
    color: var(--TEXTCOLOR);
    font-size: var(--FS1);
    font-style: italic;
    padding: var(--PADDING);
}

header{
    position:sticky;
    top:0;
    display: flex;
    flex-direction: column;
}
footer{
    position:sticky;
    bottom: 0;
}

.square{
    background-color: var(--SQUARE-BG);
    height: var(--SQUARE-SIZE);
    width: var(--SQUARE-SIZE);
    border: 1px solid var(--DARKCOLOR);
    border-radius: 15px;
    display: grid;
    place-content: center;
    box-shadow: var(--SHADOW);
    font-size: var(--FS2);
}

.square-highlight{
    --SQUARE-BG : papayawhip;
}

.content{
    margin-top: 1.2rem;
}

.tooltip{
    border-bottom: 2px solid darkturquoise;
    position: relative;
}

.tooltip:hover::after{
    content: attr(data-tooltip);
    position: relative;
    top:-20px;
    white-space: nowrap;
    background-color: var(--BGCOLOR);
    padding: var(--PADDING);
    border-radius: 15px;
}

a:any-link{
    color: teal;
    text-decoration: none;
    border-bottom: 0px solid var(--DARKCOLOR);
    transition: all 0.3s ease-in-out;
    border-bottom: 1px solid var(--DARKCOLOR);
}   

a:hover, a:focus{
    filter: brightness(200%);
}

@media screen and (min-width: 576px){
    main{
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    main section{
        width: calc(70% - 5px);
    }
    main aside{
        width: calc(30% - 5px);
    }
}